{% load i18n %}
{% load staticfiles %}
<header role="banner" class="primary header-global">

    <div class="wrapper wrapper-l wrapper-header-new">
      <h1 class="branding">
        <a class="brand-link" href="/">
          <img class="brand-image" src="/static/3682130c4e/images/ftci-logo-black.b4df90910630.png" alt="E-commerce center">
        </a>
      </h1>

      <ol class="list-inline nav-global">
        
            <li class="item nav-global-01">
              <a href="https://institute.fintechcircle.com/courses">Courses</a>
            </li>
            <li class="item nav-global-02">
              <a href="https://institute.fintechcircle.com/about">About</a>
            </li>
            <li class="item nav-global-03">
              <a href="https://institute.fintechcircle.com/lecturers">Lecturers</a>
            </li>
            <li class="item nav-global-04">
              <a href="https://institute.fintechcircle.com/contact">Contact</a>
            </li>
            
            
        
      </ol>

    </div>

    <div class="wrapper wrapper-r">
      <nav class="nav-not-signedin" aria-label="Account">
        <h2 class="sr-only">Account Navigation</h2>
        <ol>
          <li class="nav-item nav-not-signedin-signin">
            <a class="action action-signin" href="/signin">Sign In</a>
          </li>
              <li class="nav-item nav-not-signedin-signup">
                <a class="btn-neutral btn-register btn-orange btn-normalize" href="/signup">REGISTER</a>
              </li>
        </ol>
      </nav>
    </div>
  </header>