{% load i18n %}
{% load staticfiles %}

<header id="global-navigation" class="header-global header-main" >
    <nav class="wrapper-header" aria-label="${_('Global')}">
      <h1 class="hd logo-header">
        <div class="logo">
          <a href="${marketing_link('ROOT')}">
          </a>
        </div>
      </h1>
      
       <ol class="list-inline nav-global">
        
            <li class="item nav-global-01">
              <a href="https://institute.fintechcircle.com/courses">Courses</a>
            </li>
            <li class="item nav-global-02">
              <a href="https://institute.fintechcircle.com/about">About</a>
            </li>
            <li class="item nav-global-03">
              <a href="https://institute.fintechcircle.com/lecturers">Lecturers</a>
            </li>
            <li class="item nav-global-04">
              <a href="https://institute.fintechcircle.com/contact">Contact</a>
            </li>
      </ol>

  </div>

  
  </nav>
</header>   

<div id="carousel-example-generic" class="carousel slide banner-main-page" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <!--<img src="${static.url("images/banner01.png")}" alt="...">-->
                  <div class="background first"></div>
                  <div class="carousel-caption">
                      <h2><span>Fintech</span>Circle Institiute</h2>
                  </div>
              </div>
             
          </div>
          <!--<a href="" title="" class="btn btn-orange">Find courses</a>-->
      </div>
